#gitignore file for bingo generator python code

#utilities script
/script/*

#output files
/output/*
!/output/.gitkeep 

#image material
/pic/*
!/pic/.gitkeep 

#python project structure
pyproject.toml

#cache files
/__pycache__/*